*.iml
.gradle
/local.properties
.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

/gradle/.tmp/
/gradle/android/
/gradle/caches/
/gradle/daemon/
/gradle/jdks/
/gradle/native/
/gradle/workers/
/gradle/wrapper/
